@using RodinaTurkey.Models.Entitiy
@{
    Layout = null;
}
@{
    RodinaTurkeyEntities db = new RodinaTurkeyEntities();
    var deger = db.Tbl_Abouts.Take(1).FirstOrDefault();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>İZMİRent A Car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/carbook-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/animate.css">
    <link rel="stylesheet" href="~/carbook-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/carbook-master/css/aos.css">
    <link rel="stylesheet" href="~/carbook-master/css/ionicons.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/carbook-master/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/carbook-master/css/flaticon.css">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/carbook-master/css/icomoon.css">
    <link rel="stylesheet" href="~/carbook-master/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a href="~/Home/List/"><img width="250" height="100" src="@deger.CompanyImage" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="~/Home/List/" class="nav-link">Anasayfa</a></li>
                <li class="nav-item"><a href="~/HomeCar/ListCar/" class="nav-link">Araçlar</a></li>
                <li class="nav-item"><a href="~/HomeCarSales/List/" class="nav-link">Araç Fiyatlar Listesi</a></li>
                <li class="nav-item"><a href="~/HomeAbout/List/" class="nav-link">Hakkımızda</a></li>
                <li class="nav-item"><a href="~/HomeContact/List/" class="nav-link">İletişim</a></li>

            </ul>
        </div>
    </div>
</nav>
@RenderBody()
<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <p>1998 Yılında Kurduğumuz İZMİRent A Car Ailesi Doğukan KOŞAN önderliğinde Türkiye ve Dünya Çapında Araç Kiralama ve Turizm Sektöründe Hizmet Vermektir.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a target="_blank" href="http://www.rodinaturkey.com/"><span class="icon-local_hotel"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://bsite.net/TekcomBilgisayar/"><span class="icon-business_center"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://github.com/dogukankosan"><span class="icon-github"></span></a></li>
                        <li class="ftco-animate"><a target="_blank" href="https://api.whatsapp.com/send?phone=905442895650"><span class="icon-whatsapp"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">İletişim Bilgileri</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">@deger.Adress</span></li>
                            <li><a href="tel://@deger.Phone"><span class="icon icon-phone"></span><span class="text">+90(@deger.Phone)<br /> @deger.UserName</span></a></li>
                            <li><a href="mailto:@deger.Mail"><span class="icon icon-envelope"></span><span class="text">@deger.Mail</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> TÜM HAKLARI SAKLIDIR | DESIGN <i class="icon-forward color-danger" aria-hidden="true"></i> by <a href="https://bsite.net/TekcomBilgisayar/" target="_blank">DOĞUKAN KOŞAN</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="~/carbook-master/js/jquery.min.js"></script>
<script src="~/carbook-master/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/carbook-master/js/popper.min.js"></script>
<script src="~/carbook-master/js/bootstrap.min.js"></script>
<script src="~/carbook-master/js/jquery.easing.1.3.js"></script>
<script src="~/carbook-master/js/jquery.waypoints.min.js"></script>
<script src="~/carbook-master/js/jquery.stellar.min.js"></script>
<script src="~/carbook-master/js/owl.carousel.min.js"></script>
<script src="~/carbook-master/js/jquery.magnific-popup.min.js"></script>
<script src="~/carbook-master/js/aos.js"></script>
<script src="~/carbook-master/js/jquery.animateNumber.min.js"></script>
<script src="~/carbook-master/js/bootstrap-datepicker.js"></script>
<script src="~/carbook-master/js/jquery.timepicker.min.js"></script>
<script src="~/carbook-master/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/carbook-master/js/google-map.js"></script>
<script src="~/carbook-master/js/main.js"></script>
</body>
</html>